@font-face {
    font-family: 'GorditaRegular';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/hinted-GorditaRegular.ttf');
}
@font-face {
    font-family: 'GorditaMedium';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/hinted-GorditaMedium.ttf');
}
@font-face {
    font-family: 'GorditaBold';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/hinted-GorditaBold.ttf');
}
@font-face {
    font-family: 'NewFont';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/A8ABDE12F18C753619F57193C5FA296E.TTF');
}


